In [7]:
import pandas as pd
df = pd.read_excel("./Data/Ecommerce/E_Commerce_Dataset.xlsx", sheet_name="Raw")
칼럼명 = ['CustomerID', 'Gender', 'MaritalStatus', 'CouponUsed', 'OrderCount']
df = df[칼럼명].copy()
df.head()

   CustomerID  Gender MaritalStatus  CouponUsed  OrderCount
0       50001  Female        Single         1.0         1.0
1       50002    Male        Single         0.0         1.0
2       50003    Male        Single         0.0         1.0
3       50004    Male        Single         0.0         1.0
4       50005    Male        Single         1.0         1.0

In [8]:
#쿠폰 발행 <-> 매출 증가
pd.crosstab(df['CouponUsed'], df['OrderCount'], margins=True)

#쿠폰 발행하면 주문 횟수를 증가 시키긴 함

OrderCount,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,All
CouponUsed,,,,,,,,,,,,,,,,,
0.0,832,79,23,16,13,5,13,3,0,1,5,1,1,0,0,0,992
1.0,854,922,104,37,33,16,19,17,6,2,5,6,0,3,2,0,2026
2.0,0,962,104,42,27,21,24,16,7,5,4,6,2,2,2,2,1226
3.0,0,0,128,38,37,20,27,25,2,4,5,7,1,1,3,1,299
4.0,0,0,0,45,31,20,30,18,10,4,5,4,5,2,1,2,177
5.0,0,0,0,0,30,26,19,19,5,2,6,4,3,3,0,1,118
6.0,0,0,0,0,0,19,33,22,5,3,5,3,4,6,2,0,102
7.0,0,0,0,0,0,0,30,21,11,4,3,5,2,2,2,1,81
8.0,0,0,0,0,0,0,0,23,7,3,0,1,1,1,2,2,40
9.0,0,0,0,0,0,0,0,0,3,4,1,1,1,0,1,2,13
10.0,0,0,0,0,0,0,0,0,0,2,2,3,1,2,2,1,13
11.0,0,0,0,0,0,0,0,0,0,0,2,0,1,0,2,3,8
12.0,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,2,8
13.0,0,0,0,0,0,0,0,0,0,0,0,0,4,1,0,1,6
14.0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,1,4
15.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
16.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
All,1686,1963,359,178,171,127,195,164,56,34,43,46,27,24,22,21,5116

In [13]:
#쿠폰 발행하면 구매자들의 몇퍼센트가 쿠폰발행의 영향을 받는지 분석하기 

(pd.crosstab(df['CouponUsed'], df['OrderCount'], margins=True).T \
    / pd.crosstab(df['CouponUsed'], df['OrderCount'], margins=True)['All']).T.iloc[:3,:]

OrderCount,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,All
CouponUsed,,,,,,,,,,,,,,,,,
0.0,0.83871,0.079637,0.023185,0.016129,0.013105,0.005040,0.013105,0.003024,0.000000,0.001008,0.005040,0.001008,0.001008,0.000000,0.000000,0.000000,1.0
1.0,0.42152,0.455084,0.051333,0.018263,0.016288,0.007897,0.009378,0.008391,0.002962,0.000987,0.002468,0.002962,0.000000,0.001481,0.000987,0.000000,1.0
2.0,0.00000,0.784666,0.084829,0.034258,0.022023,0.017129,0.019576,0.013051,0.005710,0.004078,0.003263,0.004894,0.001631,0.001631,0.001631,0.001631,1.0